# Dependencies
node_modules/

# Build output
dist/

# Vercel
.vercel

# Local env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# TS cache
*.tsbuildinfo
